<!DOCTYPE html>
<html lang="en">

<head>
    <title>CodeIt</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body class="override">
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'judge:problems' %}">CodeIt</a>
            </div>
        </div>
    </nav>
    {% if solutions %}
    <ul>
        {% for s in solutions %}
        <p>{{ s.problem.name }} - {{ s.verdict }} - {{ s.time_of_submission }}</p>
        {% endfor %}

    </ul>
    {% else %}
    <h3> No data available. </h3>
    {% endif %}
</body>

</html>