<!DOCTYPE html>
<html lang="en">

<head>
  <title>CodeIt</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body class="override">
  <nav class="navbar navbar-inverse" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
          aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand">CodeIt</a>
      </div>

    </div>
  </nav>



  {% block content %}

  {% load crispy_forms_tags %}

  <div class="container py-5">
    <h1>Login</h1>
    <form method="POST">
      {% csrf_token %}
      {{ login_form|crispy }}
      <br>
      <button class="btn btn-primary" type="submit">Login</button>
    </form>
    <br>
    <p>Don't have an account? <a href="/register">Create an account</a>.</p>
  </div>
  {% endblock %}


</body>

</html>