<!DOCTYPE html>
<html lang="en">

<head>
    <title>CodeIt</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body class="override">
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'judge:problems' %}">CodeIt</a>
                {% if user.is_authenticated %}
                <span class="navbar-text">
                    Welcome, {{user.username}}</span>
                <span class="navbar-text">
                    <a class="nav-link" href="/logout">Logout</a>
                </span>

                {% else %}
                <span class="navbar-text">
                    <a class="nav-link" href="/">Login</a>
                </span>

                {% endif %}
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            {% block content %}
            {% for ps in p %}
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="{% url 'judge:desc' ps.id %}">{{ ps.title }}</a>
                </li>
            </ul>
            {% endfor %}
            {% endblock %}
        </div>
    </div>

</body>

</html>